<h1 class="<%= @product.sold ? "sold" : "" %>"><%= @product._id %>. <%= @product.name %></h1>

<p id="notice"><%= notice %></p>

<% if @product.sold %>
<h2 class="sold">VENDIDO por <%= to_currency(@product.price) %></h2>
<% else %>
<p>
  <b>por</b> <%= to_currency(@product.price) %>
</p>
<% end %>

<table class="photos">
  <% @product.photos.each_slice(5).each do |photo_row| %>
    <tr>
      <% photo_row.each do |photo| %>
        <td>
          <%= link_to image_tag(photo.image.url(:medium), :alt => "Clique na foto para vê-la no tamanho original"), photo.image.url %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% unless @product.description.blank? %>
  <p>
    <b>Descrição:</b>
    <%= @product.description %>
  </p>
<% end %>

<% unless @product.link.blank? %>
  <p>
    <b>Link:</b>
    <%= link_to @product.link %>
  </p>
<% end %>

<br/>

<p>Se algum quiser este e/ou outros itens, por favor, mande um email para <%= mail_to "hugomari@agilbits.com.br" %> com seu nome e telefone para que possamos combinar o pagamento e retirada.</p>

<br/><br/>
<%= link_to 'Voltar', products_path %>
