<h2 class="<%= @product.sold ? "sold" : "" %>">
  <%= @product.name %>
  <% if @product.sold %>
    <em class="sold">VENDIDO por <%= to_currency(@product.price) %></em>
  <% else %>
    <em>por <%= to_currency(@product.price) %></em>
  <% end %>
</h2>

<p id="notice"><%= notice %></p>

<div class="photos">
  <ul id="photos">
    <% @product.photos.each do |photo| %>
      <li><%= link_to image_tag(photo.image.url(:medium), :alt => "Clique na foto para vê-la no tamanho original"), photo.image.url %></li>
    <% end %>
  </ul>
</div>

<div class="description">
  <% unless @product.description.blank? %>
    <h3>Descrição</h3>
    <p><%=raw @product.description %></p>
  <% end %>
  <% unless @product.link.blank? %>
    <h3>Mais Info</h3>
    <p><%= link_to @product.link, @product.link %></p>
  <% end %>
</div>

<%= link_to 'Voltar', products_path %>

<script language="javascript" type="text/javascript"> 
  $(document).ready(function() {
    $("#photos").PikaChoose();
  });
</script>

