<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @product.name %>
</p>

<p>
  <b>Preço:</b>
  <%= @product.price %>
</p>

<p>
  <b>Descrição:</b>
  <%= @product.description %>
</p>

<p>
  <b>Foto(s):</b>
  <% product.photos.each do |photo| %>
    <%= image_tag photo.image.url(:medium) %>
  <% end %>
</p>

<%= link_to 'Voltar', products_path %>
