<h1><%= @product._id %>. <%= @product.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>por</b> <%= to_currency(@product.price) %>
</p>

<table>
  <% @product.photos.each_slice(5).each do |photo_row| %>
    <tr>
      <% photo_row.each do |photo| %>
        <td>
          <%= image_tag photo.image.url(:medium) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% unless @product.description.blank? %>
  <p>
    <b>Descrição:</b>
    <%= @product.description %>
  </p>
<% end %>

<% unless @product.link.blank? %>
  <p>
    <b>Link para o produto novo em loja:</b>
    <%= link_to @product.link %>
  </p>
<% end %>

<br/>

<p>Se algum quiser este e/ou outros itens, por favor, mande um email para <%= mail_to "hugomari@gmail.com" %> com seu nome e telefone para que possamos combinar o pagamento e retirada.</p>

<br/><br/>
<%= link_to 'Voltar', products_path %>
